---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
const pageSections = [
  {
    title: "Static",
    columns: [
      {
        category: " Pages",
        links: [
          { text: "Home", href: "/" },
          { text: "404", href: "/404" },

          { text: "FAQ", href: "/faq" },
          { text: "Gallery", href: "/gallery" },
          { text: "Partners", href: "/partners" },
          { text: "Hosts (redirects)", href: "/hosts" },
          { text: "Recap", href: "/recap" },
          { text: "Schedule", href: "/schedule" },
          { text: "Tickets", href: "/tickets" },
          { text: "Venue", href: "/venue" },
        ],
      },
      {
        category: "Forms",
        links: [
          { text: "Sign in", href: "/forms/sign-in" },

          { text: "Contact", href: "/forms/contact" },
          { text: "Register", href: "/forms/register" },
        ],
      },
      {
        category: "System",
        links: [
          { text: "Colors", href: "/system/colors" },
          { text: "Links", href: "/system/link" },
          { text: "Buttons", href: "/system/buttons" },
          { text: "Typography", href: "/system/typography" },
          { text: "Social", href: "https://x.com/lexingtonthemes" },
          {
            text: "License",
            href: "https://lexingtonthemes.com/legal/license",
          },
          {
            text: "Documentation",
            href: "https://lexingtonthemes.com/documentation/getting-started",
          },
        ],
      },
    ],
  },
  {
    title: "Content Collections",
    columns: [
      {
        category: "Insights",
        links: [
          { text: "Home", href: "/insights/" },
          { text: "Post", href: "/insights/posts/1" },
          { text: "Tag Index", href: "/insights/tags" },
          { text: "Tag Category", href: "/insights/tags/grids" },
          { text: "RSS", href: "/rss.xml" },
        ],
      },
      {
        category: "Utility Pages",
        links: [
          { text: "Terms Of Use", href: "/infopages/terms" },
          { text: "Privacy Policy", href: "/infopages/privacy" },
          { text: "Code of Conduct", href: "/infopages/code-of-conduct" },
        ],
      },
      {
        category: "Sessions",
        links: [
          { text: "Home", href: "/sessions" },
          { text: "Details", href: "/sessions/art-of-white-space" },
          
        ],
      },
      {
        category: "People",
        links: [
          { text: "Home", href: "/people" },
          { text: "Details", href: "/people/profile/anna-muller" },
        ],
      },
      {
        category: "Entities",
        links: [
          { text: "Home", href: "/entities" },
          { text: "Details", href: "/entities/details/bet300-ecoop-community" },
        ],
      },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-32">
      <Text
        tag="h1"
        variant="displayLG"
        class="text-accent-500 font-display uppercase">Overview</Text
      >
      <div class="flex flex-col gap-12 mt-12">
        {
          pageSections.map((section) => (
            <div>
              <Text tag="h3" variant="textLG" class="text-accent-500 ">
                {section.title}
              </Text>
              <div class="grid grid-cols-2  mt-8 md:grid-cols-3 lg:grid-cols-6  text-base-900">
                {section.columns.map((column) => (
                  <div class="flex flex-col gap-">
                    <Text
                      tag="p"
                      variant="textBase"
                      class="text-accent-500 font-medium"
                    >
                      {column.category}
                    </Text>
                    <ul role="list" class="mt-4">
                      {column.links.map((link) => (
                        <li>
                          <Text
                            tag="a"
                            variant="textSM"
                            class="text-base-600 hover:text-accent-500 "
                            href={link.href}
                          >
                            {link.text}
                          </Text>
                        </li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
