---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogEntry from "@/components/blog/BlogEntry.astro";
// Content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("insights");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
const sortedPosts = posts
  .slice()
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-32">
      <Text
        tag="h1"
        variant="displayMD"
        class="text-balance text-accent-500 font-display uppercase leading-tight"
      >
        Insights tagged with {tag}
      </Text>
      <div class="mt-10 max-w-4xl">
        {sortedPosts.map((post) => (
          <BlogEntry post={post} variant="list" />
        ))}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
