---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("insights");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout
  pageTitle="Insight tags"
  description="Browse insights by topic and tag."
>
  <section>
    <Wrapper variant="standard" class="py-32">
      <div>
        <Text
          tag="h1"
          variant="displayMD"
          class="text-balance text-accent-500 font-display uppercase leading-tight"
          >Tags</Text
        >
        <Text
          tag="p"
          variant="textBase"
          class="text-base-600 font-medium max-w-2xl mt-2 text-balance"
        >
          All insight tags on Nova Roma.
        </Text>
      </div>
      <ol role="list" class="divide-y divide-white/10 space-y-2 mt-12">
        {
          tags.map((tag) => (
            <li class="text-xl font-display text-accent-500 capitalize">
              <a href={`/insights/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ol>
    </Wrapper>
  </section>
</BaseLayout>
