---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogEntry from "@/components/blog/BlogEntry.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("insights");
allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
const TOTAL_COUNT = allPosts.length;
---

<BaseLayout
  pageTitle="Insights"
  description="Research notes, field reports, and journals from Nova Roma."
>
  <section>
    <Wrapper variant="standard" class="py-32">
      <header class="max-w-4xl space-y-4">
        <Text
          tag="h1"
          variant="displayMD"
          class="text-balance text-accent-500 font-display uppercase leading-tight"
        >
          Insights
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="text-accent-600 font-medium max-w-2xl mt-2 text-balance"
        >
          {TOTAL_COUNT} research notes, field reports, and event journals. Written
          output from the Nova Roma network, often co-authored with members and
          partners.
        </Text>
      </header>
      {
        TOTAL_COUNT > 0 && (
          <div class="mt-10 max-w-4xl">
            {allPosts.map((post) => (
              <BlogEntry post={post} variant="list" />
            ))}
          </div>
        )
      }
    </Wrapper>
  </section>
</BaseLayout>
