---
interface Props {
  variant?: "standard" | "prose"; // Define any variants you need
  class?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  standard:
    "max-w-screen 2xl:max-w-[100rem] mx-auto px-8 border-x border-dashed border-black/5",
  prose:
    "prose text-base-600 prose-headings:text-accent-500  prose-headings:font-normal prose-headings:font-display prose-a:text-accent-500 prose-a:no-underline hover:prose-a:text-accent-500 prose-strong:text-base-700 prose-em:text-base-600 prose-blockquote:border-l-accent-500 prose-blockquote:text-base-100 prose-blockquote:not-italic prose-ul:marker:text-accent-500 prose-ol:marker:text-accent-500 prose-hr:border-black/10 prose-img:rounded-sm prose-img:border prose-img:border-white/10",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
